/*
flex-direction: row에서는
main axis가 가로, cross axis가 세로
flex-direction: column 에서는
main axis가 세로, cross axis가 가로  */
.father {
    display: flex;
    flex-direction: column;
    /* Main Axis */
    justify-content: space-around;
    /* height: 100vh; */
    
}

.child {
    flex-basis: 200px;
    background: peru;
    color: white;
    font-size: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.child:nth-child(2) {
    background: #000;
    flex-grow: 0;
    /*flex-grow 는 남은 공간을 일정비율로
    다 채워줌 default 0 */

    flex-shrink: 1;
    /* flex-shrink 는 창을 조절할 때
    줄어드는 크기를 다른 itmes보다 더 많이
    지정할 수 있음 default 1 */
}