/*
flex-direction: row에서는
main axis가 가로, cross axis가 세로
flex-direction: column 에서는
main axis가 세로, cross axis가 가로  */
.father {
    display: flex;
    flex-direction: row;
    /* Main Axis */
    justify-content: space-around;
    align-content: space-around;
    /* align-content 는 flex-wrap로
    생긴 item과 item사이의 간격을 조정함 */
    /* Cross Axis */
    /* align-items: center; */
    height: 100vh;
    flex-wrap: wrap;
    /* flex-wrap: wrap-reverse; */
    /* flex-wrp은 기본 값은 nowrap.
    flex속성 설정시 width와 height가
    바뀌면서까지 정렬되도록 하나
    wrap속성은 기본 설정 크기를
    유지하며 정렬시켜준다.
     */
}

.child {
    width: 200px;
    height: 200px;
    background: peru;
    color: white;
    font-size: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}
